# IMDbMovies

## Contents <a id='back'></a>

1. [Introduction](#introduction)
2. [Loading the Dataset](#loading-the-dataset)
3. [Data Cleaning](#data-cleaning)
   - 3.1 [Header style](#header-style)
   - 3.2 [Handling Missing Values](#handling-missing-values)
   - 3.3 [Data Transformation](#data-transformation)
   - 3.4 [Conclusions](#conclusions)
4. [Exploratory Data Analysis (EDA)](#exploratory-data-analysis-eda)
   - 4.1 [Overview of the Dataset](#overview-of-the-dataset)
   - 4.2 [Visualizing Data](#visualizing-data)

## 1. Introduction <a id='introduction'></a>

The IMDbMovies dataset is a comprehensive collection with information on more than 9000 movies on IMDb. The dataset includes key features such as title, director, writer, genres, runtime, release year, budget, and gross revenue. 

The primary goal of this analysis is to gain a deeper insight of the evolution of the cinematographic industry over the years.

[Back to contents](#back)

## 2. Loading the Dataset <a id='loading-the-dataset'></a>

The IMDB Movies dataset is available on [kaggle.com](https://www.kaggle.com/datasets/elvinrustam/imdb-movies-dataset). We will be using the unclean version, so we can carry out our own cleanup. 

The first step is to correct a few rows that have the correct data, but it's shifted one column to the right. The movies that require this are:
 
- Sleepy Hollow
- Texas Chainsaw
- G.I. Joe: Retaliation
- The Woman in the Window
- The Social Dilemma
- Bank of Dave
- Eden
- CHIPS
- The Diving Bell and the Butterfly
- Untamed Heart
- Roxanne
- The Postcard Killings
- Cover Girl

We'll be fixing this with google docs.

Note that "The Fall of Minneapolis" has a similar issue, but also a lot of missing values, and the value for budget (302) doesn't make sense. We'll drop this row.

The rest of the preprocessing will be done here. We can load the Dataset now.

In [1]:
import pandas as pd

df = pd.read_csv("../IMDbMovies.csv")

Lets see what the data looks like.

In [2]:
df.head(5)

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,2h 38m,2023.0,6.7/10,38K,NaN,"$37,514,498","$84,968,381","$20,638,887Nov 26, 2023"
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,2h 37m,2023.0,7.2/10,37K,"$100,000,000 (estimated)","$105,043,414","$191,729,235","$44,607,143Nov 19, 2023"
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,1h 58m,2023.0,6.8/10,117K,NaN,NaN,"$421,332",NaN
3,Leo,A 74-year-old lizard named Leo and his turtle ...,"David Wachtenheim,Robert Smigel,Robert Marianetti","Paul Sado,Robert Smigel,Adam Sandler","Animation,Comedy,Family",PG,1h 42m,2023.0,7.0/10,10K,NaN,NaN,NaN,NaN
4,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",Eli Roth,"Eli Roth,Jeff Rendell","Horror,Mystery,Thriller",R,1h 46m,2023.0,7.0/10,9.1K,NaN,"$25,408,677","$29,666,585","$10,306,272Nov 19, 2023"

There seems to be a lot of missing values on the `Budget` and `Gross` columns, and some columns are in a format that is uncomfortable to work with. Time for cleanup.

[Back to contents](#back)

## 3. Data Cleaning <a id="data-cleaning"></a>

### 3.1 Header style <a id="header-style"></a>

First we'll fix the names of the existing columns.

In [3]:
base_columns_names = df.columns
base_columns_names

Index(['Title', 'Summary', 'Director', 'Writer', 'Main Genres',
       'Motion Picture Rating', 'Runtime', 'Release Year', 'Rating',
       'Number of Ratings', 'Budget', 'Gross in US & Canada',
       'Gross worldwide', 'Opening Weekend Gross in US & Canada'],
      dtype='object')

In [4]:
fixed_columns_names = {}

for name in base_columns_names:
    fixed_name = name.lower()
    fixed_name = fixed_name.replace(' & ', '&') #turns "us & canada" into "us&canada", to avoid so many '_' characters in the next step
    fixed_name = fixed_name.replace(' ', '_')
    fixed_columns_names [name] = fixed_name

fixed_columns_names

{'Title': 'title',
 'Summary': 'summary',
 'Director': 'director',
 'Writer': 'writer',
 'Main Genres': 'main_genres',
 'Motion Picture Rating': 'motion_picture_rating',
 'Runtime': 'runtime',
 'Release Year': 'release_year',
 'Rating': 'rating',
 'Number of Ratings': 'number_of_ratings',
 'Budget': 'budget',
 'Gross in US & Canada': 'gross_in_us&canada',
 'Gross worldwide': 'gross_worldwide',
 'Opening Weekend Gross in US & Canada': 'opening_weekend_gross_in_us&canada'}

In [5]:
df = df.rename(columns = fixed_columns_names)
df.columns

Index(['title', 'summary', 'director', 'writer', 'main_genres',
       'motion_picture_rating', 'runtime', 'release_year', 'rating',
       'number_of_ratings', 'budget', 'gross_in_us&canada', 'gross_worldwide',
       'opening_weekend_gross_in_us&canada'],
      dtype='object')

With the columns renamed, lets move on to improvind the format of certain columns. We might end up renaming some of them again.

[Back to contents](#back)

### 3.2 Handling Missing Values <a id="handling-missing-values"></a>

First, lets see how many missing values we have to deal with.

In [6]:
df.isna().sum()

title                                    0
summary                                  0
director                                31
writer                                 324
main_genres                              7
motion_picture_rating                  796
runtime                                165
release_year                             8
rating                                 269
number_of_ratings                      270
budget                                3203
gross_in_us&canada                    3018
gross_worldwide                       1954
opening_weekend_gross_in_us&canada    3387
dtype: int64

Many of these are not critical. We can fill them with `'unknown'` for text columns, or `-1` in numerical columns, to mark the data as unavailable, since none of these columns should naturally have negative values.

The columns `director`, `writer`, `main_genres`, and `motion_picture_rating` can be filled with the value `'unknown'`

In [7]:
columns_to_fix = ['director', 'writer', 'main_genres', 'motion_picture_rating']

for column in columns_to_fix:
    df[column] = df[column].fillna(value = 'unknown')

The missing values in the columns `rating`, `number_of_ratings`, `budget`, `gross_in_us&canada`, `gross_worldwide`, and `opening_weekend_gross_in_us&canada` can be filled, but we need to be careful to keep their general format, so the new values don't interfere with data processing.

In [8]:
# rating is in the format (value/10)
df['rating'] = df['rating'].fillna(value = '0/10')
df['number_of_ratings'] = df['number_of_ratings'].fillna(value = 0)

In [9]:
# runtime is expressed in hours (h) and minutes (m)
df['runtime'] = df['runtime'].fillna(value = '0m')

In [10]:
# all entries have a currency, and $ is the most common
columns_to_fix = ['budget', 'gross_in_us&canada', 'gross_worldwide']

for column in columns_to_fix:
    df[column] = df[column].fillna(value = '$0')

In [11]:
# all entries have the $ at the beginning, followed by the date of the opening weekend
df['opening_weekend_gross_in_us&canada'] = df['opening_weekend_gross_in_us&canada'].fillna(value = '$0Jan 1, 1900')

The `release_year` is going to be critical. We drop rows that are missing this value.

In [12]:
df.dropna(subset = ['release_year'], inplace=True)

In [13]:
df.isna().sum()

title                                 0
summary                               0
director                              0
writer                                0
main_genres                           0
motion_picture_rating                 0
runtime                               0
release_year                          0
rating                                0
number_of_ratings                     0
budget                                0
gross_in_us&canada                    0
gross_worldwide                       0
opening_weekend_gross_in_us&canada    0
dtype: int64

No more missing values. Let's check duplicates.

In [14]:
df.duplicated().sum()

0

No obvious duplicates.

Just to make sure, lets double check. We could find duplicates in `title`, but it could still be from different movies. A duplicated `summary` would be more suspicious.

In [15]:
df['summary'].duplicated().sum()

32

There are some duplicates here. Lets see what they are.

In [16]:
dup = df[df['summary'].duplicated(keep=False) == True]
dup = dup.sort_values('summary')

dup

,title,summary,director,writer,main_genres,motion_picture_rating,runtime,release_year,rating,number_of_ratings,budget,gross_in_us&canada,gross_worldwide,opening_weekend_gross_in_us&canada
7803,Aladdin,A kind-hearted street urchin and a power-hungr...,Guy Ritchie,"John August,Guy Ritchie","Adventure,Comedy,Family",PG,2h 8m,2019.0,6.9/10,284K,"$183,000,000 (estimated)","$355,559,216","$1,054,304,000","$91,500,929May 26, 2019"
557,Aladdin,A kind-hearted street urchin and a power-hungr...,"John Musker,Ron Clements","Ron Clements,John Musker,Ted Elliott","Animation,Adventure,Comedy",G,1h 30m,1992.0,8.0/10,454K,"$28,000,000 (estimated)","$217,350,219","$504,050,219","$196,664Nov 15, 1992"
5521,We're the Millers 2,Plot is unknown.,Rawson Marshall Thurber,Adam Sztykiel,Comedy,R,2h 3m,2001.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
6403,Real Steel 2,Plot is unknown.,unknown,John Gatins,"Action,Drama,Family",Unrated,1h 43m,2022.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
3459,Godzilla x Kong: The New Empire,Plot kept under wraps.,Adam Wingard,"Simon Barrett,Jeremy Slater,Terry Rossio","Action,Adventure,Sci-Fi",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
5536,Iron Lung,Plot kept under wraps.,Mark Fischbach,"Mark Fischbach,David Szymanski","Horror,Sci-Fi",unknown,2h 1m,2022.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
2302,Fast X: Part 2,Plot kept under wraps.,Louis Leterrier,"Oren Uziel,Christina Hodson","Action,Crime,Thriller",unknown,0m,2025.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
1144,Lethal Weapon 5,Plot kept under wraps.,Mel Gibson,"Shane Black,Richard Wenk","Action,Thriller",R,1h 55m,2018.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
5319,Kind of Kindness,Plot kept under wraps.,Yorgos Lanthimos,"Efthimis Filippou,Yorgos Lanthimos",unknown,unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
8322,Untitled Margot Robbie Ocean's Eleven Film,Plot under wraps,Jay Roach,"Jack Golden Russell,George Clayton Johnson,Car...",unknown,Not Rated,2h 5m,1955.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
5517,Community: The Movie,Plot under wraps,unknown,"Dan Harmon,Andrew Guest",Comedy,unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
6959,Red Notice 2,Plot under wraps,Rawson Marshall Thurber,Rawson Marshall Thurber,"Action,Comedy,Thriller",Passed,1h 35m,1942.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
6614,Untitled Spider-Man Sequel,Plot under wraps,unknown,unknown,"Action,Adventure,Fantasy",R,3h 25m,1966.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
423,The Batman Part II,Plot under wraps,Matt Reeves,"Mattson Tomlin,Matt Reeves,Peter Craig","Action,Crime,Drama",unknown,0m,2025.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
322,Mortal Kombat 2,Plot under wraps,Simon McQuoid,"John Tobias,Ed Boon,Jeremy Slater","Action,Adventure,Fantasy",R,1h 39m,2004.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
186,Sonic the Hedgehog 3,Plot under wraps,Jeff Fowler,"Pat Casey,Josh Miller","Action,Adventure,Comedy",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
8394,The Rivals of Amziah King,Plot under wraps.,Andrew Patterson,Andrew Patterson,"Crime,Thriller",GP,1h 56m,1971.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
8557,Jim Jones,Plot under wraps.,unknown,Scott Rosenberg,unknown,unknown,1h 35m,2018.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
6255,A Quiet Place Part III,Plot under wraps.,unknown,John Krasinski,"Drama,Horror,Sci-Fi",unknown,0m,2025.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
8660,We Live in Time,Plot under wraps.,John Crowley,Nick Payne,"Drama,Romance",R,1h 32m,2020.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
7908,Untitled Adam Sandler/Safdie Brothers Project,Plot under wraps.,"Josh Safdie,Benny Safdie","Benny Safdie,Josh Safdie",unknown,Not Rated,1h 22m,1959.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
4674,Smile 2,Plot under wraps.,Parker Finn,unknown,"Horror,Mystery,Thriller",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
2476,The Conjuring: Last Rites,Plot under wraps.,unknown,David Leslie Johnson-McGoldrick,"Horror,Mystery,Thriller",TV-14,2h 4m,2018.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
410,Untitled Karate Kid Movie,Plot under wraps.,Jonathan Entwistle,unknown,"Action,Drama,Family",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
546,Red One,Plot under wraps.,Jake Kasdan,"Hiram Garcia,Chris Morgan","Action,Adventure,Comedy",unknown,1h 42m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
577,Avengers: The Kang Dynasty,Plot under wraps.,unknown,Michael Waldron,"Action,Adventure,Sci-Fi",unknown,0m,2026.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
753,Avengers: Secret Wars,Plot under wraps.,unknown,Michael Waldron,"Action,Adventure,Sci-Fi",unknown,0m,2027.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
1885,A Quiet Place: Day One,Plot under wraps.,Michael Sarnoski,"Scott Beck,Jeff Nichols,John Krasinski","Drama,Horror,Sci-Fi",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
2170,Mickey 17,Plot under wraps.,Bong Joon Ho,"Edward Ashton,Bong Joon Ho","Adventure,Drama,Sci-Fi",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
5014,Untitled Monster Thriller for Universal Pictur...,Plot under wraps.,"Tyler Gillett,Matt Bettinelli-Olpin","Stephen Shields,Guy Busick","Horror,Thriller",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
9017,Small Things Like These,Plot under wraps.,Tim Mielants,"Claire Keegan,Enda Walsh",Drama,Not Rated,1h 37m,1973.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
8883,The Underdoggs,Plot under wraps.,Charles Stone III,"Isaac Schamis,Constance Schwartz-Morini,Danny ...","Comedy,Sport",R,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
2511,Winnie-The-Pooh: Blood and Honey 2,Plot under wraps.,Rhys Frake-Waterfield,"Rhys Frake-Waterfield,A.A. Milne,Matt Leslie","Horror,Thriller",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
3012,Sherlock Holmes 3,The plot is unknown at this time.,Dexter Fletcher,"Arthur Conan Doyle,Chris Brancato","Action,Adventure,Mystery",unknown,2h 22m,2023.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
5430,Rush Hour 4,The plot is unknown at this time.,unknown,Ross LaManna,"Action,Adventure,Comedy",PG-13,1h 36m,1985.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
4788,National Treasure 3,The plot is unknown at this time.,unknown,Chris Bremner,"Action,Adventure,Family",R,2h 14m,2002.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
3547,Star Wars: Episode X - A New Beginning,The plot is unknown.,Sharmeen Obaid-Chinoy,Steven Knight,"Action,Adventure,Fantasy",unknown,0m,2027.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
715,Beverly Hills Cop: Axel Foley,The plot is unknown.,Mark Molloy,"Kevin Etten,Tom Gormican,Will Beall","Action,Comedy,Crime",unknown,0m,2024.0,0/10,0,$0,$0,$0,"$0Jan 1, 1900"
3388,Lady and the Tramp,The romantic tale of a sheltered uptown Cocker...,"Hamilton Luske,Clyde Geronimi,Wilfred Jackson","Erdman Penner,Ward Greene,Joe Rinaldi","Animation,Adventure,Comedy",G,1h 16m,1955.0,7.3/10,145K,"$4,000,000 (estimated)","$93,602,326","$93,933,394","$2,804,272Dec 21, 1986"
5213,Lady and the Tramp,The romantic tale of a sheltered uptown Cocker...,Charlie Bean,"Kari Granlund,Andrew Bujalski","Adventure,Comedy,Family",PG,1h 51m,2019.0,6.2/10,24K,$0,$0,$0,"$0Jan 1, 1900"

Most of the duplicates are from placeholder text. There are two actual duplicated summaries for the movies 'Aladdin' and 'Lady and the Tramp', but correspond to the original film and their remake.

We can be reasonably sure that there are no duplicates in the DataSet.

[Back to Content](#back)

### 3.3 Data Transformation <a id="data-transformation"></a>

We could benefit from reformatting some of the columns. For easy reference, lets see again what they look like.

In [17]:
df.head(5)

,title,summary,director,writer,main_genres,motion_picture_rating,runtime,release_year,rating,number_of_ratings,budget,gross_in_us&canada,gross_worldwide,opening_weekend_gross_in_us&canada
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,2h 38m,2023.0,6.7/10,38K,$0,"$37,514,498","$84,968,381","$20,638,887Nov 26, 2023"
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,2h 37m,2023.0,7.2/10,37K,"$100,000,000 (estimated)","$105,043,414","$191,729,235","$44,607,143Nov 19, 2023"
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,1h 58m,2023.0,6.8/10,117K,$0,$0,"$421,332","$0Jan 1, 1900"
3,Leo,A 74-year-old lizard named Leo and his turtle ...,"David Wachtenheim,Robert Smigel,Robert Marianetti","Paul Sado,Robert Smigel,Adam Sandler","Animation,Comedy,Family",PG,1h 42m,2023.0,7.0/10,10K,$0,$0,$0,"$0Jan 1, 1900"
4,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",Eli Roth,"Eli Roth,Jeff Rendell","Horror,Mystery,Thriller",R,1h 46m,2023.0,7.0/10,9.1K,$0,"$25,408,677","$29,666,585","$10,306,272Nov 19, 2023"

`runtime` is presented in hours + minutes. This format is useful for display, but for comparisons and calculations the runtime in minutes would be much better.

In [18]:
runtime_minutes=[]

for time in df['runtime']:
    hours = 0
    minutes = 0
    h_pos = time.find('h')
    m_pos = time.find('m')
  
    if h_pos > 0:
        hours = int(time[:h_pos])
    if m_pos > 0:
        minutes = int(time[h_pos+1:-1])
    runtime_minutes.append(hours * 60 + minutes)

df.insert(7, 'runtime_minutes', runtime_minutes)

In [19]:
df[['runtime', 'runtime_minutes']].head(5)

  runtime  runtime_minutes
0  2h 38m              158
1  2h 37m              157
2  1h 58m              118
3  1h 42m              102
4  1h 46m              106

Lets work on the ratings next. The current format is `value/max`, with max being 10 for all entries. We can transform that into a single number, with a range of 0 to 100, so we only deal with integers.

In [20]:
rating_int = []

for rating in df['rating']:
    slash_pos = rating.find('/')
    new_rating = rating[0:slash_pos]
    new_rating = int(new_rating.replace('.', ''))
    rating_int.append(new_rating)

df.insert(10, 'rating_int', rating_int)

In [21]:
df[['rating', 'rating_int']].head(5)

   rating  rating_int
0  6.7/10          67
1  7.2/10          72
2  6.8/10          68
3  7.0/10          70
4  7.0/10          70

Every budget value is `(estimated)`. We can move that to title and clean the values.

In [22]:
df['budget'] = df['budget'].str.replace('(estimated)', '')

In [23]:
df = df.rename(columns={'budget': 'budget_estimated'})

`opening_weekend_gross_in_us&canada` has both the gross revenue and the weekend date. Let's split them.

In [24]:
dates = []
revenues = []
for value in df['opening_weekend_gross_in_us&canada']:
    date_pos = 0
    for letter in value:
        if letter.isalpha():
            break
        date_pos += 1
    revenue = value[:date_pos]
    date = value[date_pos:]
    dates.append(date)
    revenues.append(revenue)

df.insert(16, 'gross_opening', revenues)
df.insert(17, 'opening_date', dates)

In [25]:
df[['opening_weekend_gross_in_us&canada', 'gross_opening', 'opening_date']].head(5)

  opening_weekend_gross_in_us&canada gross_opening  opening_date
0            $20,638,887Nov 26, 2023   $20,638,887  Nov 26, 2023
1            $44,607,143Nov 19, 2023   $44,607,143  Nov 19, 2023
2                      $0Jan 1, 1900            $0   Jan 1, 1900
3                      $0Jan 1, 1900            $0   Jan 1, 1900
4            $10,306,272Nov 19, 2023   $10,306,272  Nov 19, 2023

Now we can convert `budget_estimated`, `gross_in_us&canada`, `gross_worldwide` and `gross_opening` to int. We need to preserve the currency, since not every movie uses dollars.

In [26]:
def decimal_pos(value:str):
    nr_pos = 0
    for char in value:
        if char.isdecimal():
            break
        nr_pos += 1
    return nr_pos

In [27]:
currency = []

for value in df['budget_estimated']:
    nr_pos = decimal_pos(value)
    currency.append(value[:nr_pos])

df.insert(12, 'currency', currency)

In [28]:
def money_to_int(value_str: str):
    value = value_str[decimal_pos(value_str):]
    value = value.replace(',', '')
    return int(value)

In [29]:
df['budget_estimated'] = df['budget_estimated'].apply(money_to_int)

In [30]:
df['gross_in_us&canada'] = df['gross_in_us&canada'].apply(money_to_int)

In [31]:
df['gross_opening'] = df['gross_opening'].apply(money_to_int)

In [32]:
df['gross_worldwide'] = df['gross_worldwide'].apply(money_to_int)

In [33]:
df.head(10)

,title,summary,director,writer,main_genres,motion_picture_rating,runtime,runtime_minutes,release_year,rating,rating_int,number_of_ratings,currency,budget_estimated,gross_in_us&canada,gross_worldwide,opening_weekend_gross_in_us&canada,gross_opening,opening_date
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,2h 38m,158,2023.0,6.7/10,67,38K,$,0,37514498,84968381,"$20,638,887Nov 26, 2023",20638887,"Nov 26, 2023"
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,2h 37m,157,2023.0,7.2/10,72,37K,$,100000000,105043414,191729235,"$44,607,143Nov 19, 2023",44607143,"Nov 19, 2023"
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,1h 58m,118,2023.0,6.8/10,68,117K,$,0,0,421332,"$0Jan 1, 1900",0,"Jan 1, 1900"
3,Leo,A 74-year-old lizard named Leo and his turtle ...,"David Wachtenheim,Robert Smigel,Robert Marianetti","Paul Sado,Robert Smigel,Adam Sandler","Animation,Comedy,Family",PG,1h 42m,102,2023.0,7.0/10,70,10K,$,0,0,0,"$0Jan 1, 1900",0,"Jan 1, 1900"
4,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",Eli Roth,"Eli Roth,Jeff Rendell","Horror,Mystery,Thriller",R,1h 46m,106,2023.0,7.0/10,70,9.1K,$,0,25408677,29666585,"$10,306,272Nov 19, 2023",10306272,"Nov 19, 2023"
5,Oppenheimer,"The story of American scientist, J. Robert Opp...",Christopher Nolan,"Martin Sherwin,Christopher Nolan,Kai Bird","Biography,Drama,History",R,3h,180,2023.0,8.5/10,85,525K,$,100000000,325367020,950554020,"$82,455,420Jul 23, 2023",82455420,"Jul 23, 2023"
6,Saltburn,A student at Oxford University finds himself d...,Emerald Fennell,Emerald Fennell,"Comedy,Drama,Thriller",R,2h 11m,131,2023.0,7.5/10,75,7.7K,$,0,4358312,7545932,"$322,651Nov 19, 2023",322651,"Nov 19, 2023"
7,The Marvels,Carol Danvers gets her powers entangled with t...,Nia DaCosta,"Elissa Karasik,Nia DaCosta,Megan McDonnell","Action,Adventure,Fantasy",PG-13,1h 45m,105,2023.0,6.0/10,60,57K,$,220000000,77926655,188196816,"$46,110,859Nov 12, 2023",46110859,"Nov 12, 2023"
8,Wish,A young girl named Asha wishes on a star and g...,"Fawn Veerasunthorn,Chris Buck","Jennifer Lee,Chris Buck,Allison Moore","Animation,Adventure,Comedy",PG,1h 35m,95,2023.0,5.9/10,59,6.4K,$,200000000,33974306,51276049,"$19,698,228Nov 26, 2023",19698228,"Nov 26, 2023"
9,The Creator,Against the backdrop of a war between humans a...,Gareth Edwards,"Chris Weitz,Gareth Edwards","Action,Adventure,Drama",PG-13,2h 13m,133,2023.0,6.9/10,69,79K,$,80000000,40774679,104181028,"$14,079,512Oct 1, 2023",14079512,"Oct 1, 2023"

[Back to Contents](#back)

## 3.4 Conclusions <a id='conclusions'></a>

We corrected several issues with the Dataset:

- Fixed header styles
- Filled missing values
- Reformated several columns

The headers were fixed to make processing simpler.

All missing values were replaced with appropiate values that keep the format of the data they are in.

We checked for duplicates, and didn't find any.

Reformated several columns to ease access to their values.

We are ready to start with EDA.

[Back to Contents](#back)